.nav-item{
    font-size: large;

}
.nav-link{
    color: black!important;

}

#submitbnt{
    text-align: center;
    /*background-color: #03e9f4!important;*/
}

.my-custom-scrollbar {
    position: relative;
    height: 400px;
    overflow: auto;
}
.table-wrapper-scroll-y {
    display: block;
    margin-left: 150px;
    margin-right: 150px;
}

.container{
    width: 500px;
}
#message{
    height: 100px;
}
.btn-group{
    padding-left: 150px;
}

/*#log{*/
/*   padding-left: 110px;*/
/*}*/
#new-customer{
    text-align: center;
}
#submitbnt-customer{

    text-align: center!important;

}
.error{
    text-align: center;
}
p{
    text-align: center;
    font-size: large;
    font-family: Bahnschrift ;
}

.gamecontainer{
    width: 250px;
    height: 400px;
    position: center;
    margin: 0 auto;
}
.ordercontainer{
    width: 250px;
    height: 400px;
    position: center;
    margin: 0 auto;
}
.user-container{
    width: 250px;
    height: 400px;
    position: center;
    margin: 0 auto;
}
.table{
    text-align: center;
}


.logincontainer{
    width: 250px;
    height: 400px;
    position: center;
    margin: 0 auto;
    padding-top: 250px;
}

.lpcontainer{
    width: 250px;
    height: 400px;
    position: center;
    margin: 0 auto;
}
.bookcontainer{
    width: 250px;
    height: 400px;
    position: center;
    margin: 0 auto;
}

.footer{
    text-align: center;
    color: black;
    font-size: small;
    left:0;
    bottom: 0;
    width: 100%;
    padding-top: 100px;
}

.table-article{
    width: 800px;
    margin: 0 auto;
}
.search {
    width: 200px;
    float: none !important;
    height: 10px;
}
.shopping{
    margin: 0 auto!important;
    /*padding-left: 500px;*/
}
#logo{
    width: auto;
    height: auto;
    text-align: center;
 }

#logo img {
    display: inline-block;
}

#myDiv{
    text-align: center;
}
.buy-button{
    text-align: center;
}






















/*login */

html {
    height: 100%;
}
body {
    margin:0!important;
    padding:0!important;
    font-family: sans-serif;
    /*background: linear-gradient(#141e30, #243b55);*/
}

.login-box {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    padding: 40px;
    transform: translate(-50%, -50%);
    background: antiquewhite;
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(62, 8, 69, 0.6);
    border-radius: 5px;

}

.login-box h2 {
    margin: 0 0 30px;
    padding: 0;
    color: black;
    text-align: center;
}

.login-box .user-box {
    position: relative;
}

.login-box .user-box input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
}
.login-box .user-box label {
    position: absolute;
    top:0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: 1s;
}

.login-box .user-box input:focus ~ label,
.login-box .user-box input:valid ~ label {
    top: -20px;
    left: 0;
    color: #320445;
    font-size: 12px;
}

.login-box form a {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: #3e0752;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    margin-top: 40px;
    letter-spacing: 4px
}

.login-box a:hover {
    background: orange;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px orange,
    0 0 10px orange,
    0 0 25px orange,
    0 0 50px orange;
}

.login-box a span {
    position: absolute;
    display: block;
}

.login-box a span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    /*background: linear-gradient(90deg, transparent, orangered);*/
    animation: btn-anim1 1s linear infinite;
}

@keyframes btn-anim1 {
    0% {
        left: -100%;
    }
    50%,100% {
        left: 100%;
    }
}

.login-box a span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    /*background: linear-gradient(180deg, transparent, orangered);*/
    animation: btn-anim2 1s linear infinite;
    animation-delay: 1s
}

@keyframes btn-anim2 {
    0% {
        top: -100%;
    }
    50%,100% {
        top: 100%;
    }
}

.login-box a span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    /*background: linear-gradient(270deg, transparent, orangered);*/
    animation: btn-anim3 3s linear infinite;
    animation-delay: 1s
}

@keyframes btn-anim3 {
    0% {
        right: -100%;
    }
    50%,100% {
        right: 100%;
    }
}

.login-box a span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    /*background: linear-gradient(360deg, transparent, orangered);*/
    animation: btn-anim4 3s linear infinite;
    animation-delay: 2s
}

@keyframes btn-anim4 {
    0% {
        bottom: -100%;
    }
    50%,100% {
        bottom: 100%;
    }
}



/*video game*/

*{
    margin: auto;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body{
    background-color: #FEFEFE;
}

.controller{
    margin-top: 100px;
    height: 200px;
    width: 400px;
    background-color: #E6E6E6;
    position: relative;
    box-shadow: 15px 15px 15px rgba(0,0,0,0.2);
}

.controllerLeft{
    height: 250px;
    width: 250px;
    background-color: #E6E6E6;
    position: absolute;
    border-radius: 100%;
    margin-left: -125px;
    box-shadow: -15px 8px 15px rgba(0,0,0,0.2);
}

.controllerRight{
    height: 250px;
    width: 250px;
    background-color: #B8B8B8;
    position: relative;
    border-radius: 100%;
    margin-right: -125px;
    border: solid 15px rgba(230, 230, 230,1);
    box-shadow: 15px 8px 15px rgba(0,0,0,0.2);
}

.circle{
    height: 150px;
    width: 150px;
    background-color: #E6E6E6;
    position: absolute;
    border-radius: 100%;
    border: solid 5px rgba(184, 184, 184, 1);
    margin-left: 42px;
    margin-top: 52px;
}

.crossCenter{
    background-color: #333333;
    width: 35px;
    height: 35px;
    margin-top: 110px;
    margin-left: 100px;
    position: relative;
}

.crossCircle{
    background-color: #292929;
    width: 25px;
    height: 25px;
    position: absolute;
    border-radius: 100%;
    margin-top: 5px;
    margin-left: 5px;
}

.crossTop{
    background-color: #333333;
    width: 35px;
    height: 35px;
    position: absolute;
    border-radius: 15%;
    margin-top: -30px;
}

.crossBottom{
    background-color: #333333;
    width: 35px;
    height: 35px;
    position: absolute;
    border-radius: 15%;
    margin-top: 30px;
}

.crossLeft{
    background-color: #333333;
    width: 35px;
    height: 35px;
    position: absolute;
    border-radius: 15%;
    margin-left: -30px;
}

.crossRight{
    background-color: #333333;
    width: 35px;
    height: 35px;
    position: absolute;
    border-radius: 15%;
    margin-left: 30px;
}

.centerBlue{
    position: absolute;
    width: 50px;
    height: 20px;
    margin-left: 175px;
    margin-top: 30px;
    background-color: #0099FF;
}

.centerLeft{
    position: absolute;
    width: 20px;
    height: 20px;
    margin-left: -10px;
    margin-top: 0px;
    background-color: #0099FF;
    border-radius: 100%;
}

.centerRight{
    position: absolute;
    width: 20px;
    height: 20px;
    margin-left: 40px;
    margin-top: 0px;
    background-color: #0099FF;
    border-radius: 100%;
}

.backButton1Center{
    position: absolute;
    width: 80px;
    height: 50px;
    background-color: #E6E6E6;
    -webkit-transform: rotate(-30deg);
    margin-top: 60px;
    margin-left: 45px;
}

.backButton2Center{
    position: absolute;
    width: 80px;
    height: 50px;
    background-color: #E6E6E6;
    -webkit-transform: rotate(-30deg);
    margin-top: 115px;
    margin-left: 90px;
}

.cornerLeft1{
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: #00B800;
    border-radius: 100%;
    margin-left: -20px;
    border: solid 5px rgba(230, 230, 230, 1)
}

.cornerRight1{
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: #6699FF;
    border-radius: 100%;
    margin-left: 60px;
    border: solid 5px rgba(230, 230, 230, 1)
}

.cornerLeft2{
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: #CFCF00;
    border-radius: 100%;
    margin-left: -20px;
    border: solid 5px rgba(230, 230, 230, 1)
}

.cornerRight2{
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: #7D230D;
    border-radius: 100%;
    margin-left: 60px;
    border: solid 5px rgba(230, 230, 230, 1)
}

.centerStart{
    background-color: #B8B8B8;
    position: absolute;
    height: 35px;
    width: 10px;
    margin-left: 180px;
    margin-top: 110px;
    -webkit-transform: rotate(20deg);
}

.centerSelect{
    background-color: #B8B8B8;
    position: absolute;
    height: 35px;
    width: 10px;
    margin-left: 205px;
    margin-top: 110px;
    -webkit-transform: rotate(20deg);
}

.SLeft{
    background-color: #B8B8B8;
    position: absolute;
    border-radius: 100%;
    height: 10px;
    width: 10px;
    margin-top: 30px;
}

.SRight{
    background-color: #B8B8B8;
    position: absolute;
    border-radius: 100%;
    height: 10px;
    width: 10px;
    margin-top: -5px;
}

.cable{
    background-color: black;
    width: 10px;
    height: 150px;
    position: absolute;
    margin-left: 49.7%;
    margin-top: -100px;
    box-shadow: 7px 8px 15px rgba(0,0,0,0.2);
}





/*lps*/

body { text-align: center; }
.record-container {
    display: inline-block;
    overflow: hidden;
    width: 400px; height: 300px;
    border-radius: 10px;
    box-shadow: 0 6px #99907e;
    background: #b5ac9a;
}
.record {
    position: relative;
    margin: 19px auto;
    width: 262px; height: 262px;
    border-radius: 50%;
    background:
            linear-gradient(30deg, transparent 40%, rgba(42, 41, 40, .85) 40%) no-repeat 100% 0,
            linear-gradient(60deg, rgba(42, 41, 40, .85) 60%, transparent 60%) no-repeat 0 100%,
            repeating-radial-gradient(#2a2928, #2a2928 4px, #ada9a0 5px, #2a2928 6px);
    background-size: 50% 100%, 100% 50%, 100% 100%;
}
.record:after {
    position: absolute;
    top: 50%; left: 50%;
    margin: -35px;
    border: solid 1px #d9a388;
    width: 68px; height: 68px;
    border-radius: 50%;
    box-shadow: 0 0 0 4px #da5b33,
    inset 0 0 0 27px #da5b33;

    content: '';
}







