<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head">
</head>
<body>
<div th:insert="fragments/head :: navclient"></div>

<br>
<br>

<div class="table-wrapper-scroll-y my-custom-scrollbar">
  <div class="table-article">
    <table class="table">
      <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Type</th>
        <th scope="col">Title</th>
        <th scope="col">Price</th>
        <th scope="col">Add to Shopping Cart</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="book : ${allBooks}">
        <td th:text="${book.getId}"></td>
        <td>
          <a  th:text="${book.getType}" th:href="@{/booksclient}"></a>

        </td>
        <td th:text="${book.getTitle}"></td>
        <td th:text="${#numbers.formatCurrency(book.getPrice)}"></td>
        <td>
          <a th:href="@{addShoppingCart/{id}(id=${book.getId()})}"><span class="material-icons">add_shopping_cart</span></a>
        </td>
      </tr>
      <tr th:each="game : ${allGames}">
        <td th:text="${game.getId}"></td>
        <td>
          <a th:text="Game" th:href="@{/gamesclient}"></a>
        </td>
        <td th:text="${game.getTitle}"></td>
        <td th:text="${#numbers.formatCurrency(game.getPrice)}"></td>
        <td>
          <a th:href="@{addShoppingCart/{id}(id=${game.getId()})}"><span class="material-icons">add_shopping_cart</span></a>
        </td>
      </tr>
      <tr th:each="lp : ${allLps}">
        <td th:text="${lp.getId}"></td>
        <td>
          <a th:text="Lp" th:href="@{/lpclient}"></a>
        </td>
        <!--            <td th:if="${Lp instanceof T(com.vdab.domain.Lp)}" th:text="Lp"></td>-->
        <td th:text="${lp.getTitle}"></td>
        <td th:text="${#numbers.formatCurrency(lp.getPrice)}"></td>
        <td>
          <a th:href="@{addShoppingCart/{id}(id=${lp.getId()})}"><span class="material-icons">add_shopping_cart</span></a>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>


</body>


</html>