<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head">
</head>
<body>
<div th:insert="fragments/head :: nav"></div>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="description">

            </div>
            <br>
            <br>
            <br>
            <div class="lpcontainer">
                <form method="post" th:action="@{/editedLp/{id}(id=${editLp.id})}" th:object="${editLp}">
                    <div class="row">

                        <label for="title" class="form-label">Title</label>
                        <input th:value="${editLp.getTitle()}" class="form-control" id="title" placeholder="Title" name="title" required>

                        <label for="price" class="form-label">Price</label>
                        <input th:value="${editLp.getPrice()}" id="price" class="form-control" placeholder="Price" name="price" required>


                        <label for="artist" class="form-label">Artist</label>
                        <input th:value="${editLp.getArtist()}" class="form-control" id="artist"
                               placeholder="Artist" name="artist" required>

                        <label for="lpGenre" >Select Lp Genre</label>
                        <select name="lpGenre"  class="form-control" id="lpGenre" th:field="*{lpGenre}">
                            <option th:each="genre : ${lpGenre}" th:text="${genre}"
                                    th:value="${genre}">
                            </option>
                        </select>

                        <label for="supplierId" class="form-label">Supplier Id Number </label>
                        <input th:value="${editLp.getSupplierId()}" class="form-control" id="supplierId"
                               placeholder="Supplier" name="supplierId" required>

                        <div class="row" style="margin-top: 2%">
                            <div class="col-md-4 offset-md-4">
                                <button id="submitbnt" type="submit" class="form-control btn btn-primary">Submit
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

</body>
</html>