<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head">
</head>
<body>
<div th:insert="fragments/head :: navclient"></div>

<br>
<br>

<div class="table-wrapper-scroll-y my-custom-scrollbar">

    <table class="table" >
        <thead>

        <tr>
            <th scope="col">Id</th>
            <th scope="col">Type</th>
            <th scope="col">Title</th>
            <th scope="col">Price</th>
            <th scope="col">Publisher</th>
            <th scope="col">Minimum Age</th>
            <th scope="col">Genre</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="game : ${allGames}">
            <td th:text="${game.getId()}"></td>
            <td th:text="Game"></td>
            <td th:text="${game.getTitle()}"></td>
            <td th:text="${#numbers.formatCurrency(game.getPrice())}"></td>
            <td th:text="${game.getPublisher()}"></td>
            <td th:text="${game.getMinimumAge()}"></td>
            <td th:text="${game.getGameGenre()}"></td>
        </tr>

        </tbody>
    </table>
</div>

<!--<img src="https://static.vecteezy.com/ti/gratis-vector/p1/362126-videogame-icon-gratis-vector.jpg">-->


    <div class=cable></div>
    <div class=controller>
        <div class=centerBlue>
            <div class=centerLeft></div>
            <div class=centerRight></div>
        </div>
        <div class=centerStart>
            <div class=SLeft></div>
            <div class=SRight></div>
        </div>
        <div class=centerSelect>
            <div class=SLeft></div>
            <div class=SRight></div>
        </div>

        <div class=controllerLeft>
            <div class=circle></div>
            <div class=crossCenter>
                <div class=crossTop></div>
                <div class=crossBottom></div>
                <div class=crossLeft></div>
                <div class=crossRight></div>
                <div class=crossCircle></div>
            </div>
        </div>
        <div class=controllerRight>
            <div class=backButton1Center>
                <div class= cornerLeft1></div>
                <div class= cornerRight1></div>
            </div>
            <div class=backButton2Center>
                <div class= cornerLeft2></div>
                <div class= cornerRight2></div>
            </div>
        </div>
    </div>



<div th:insert="fragments/head :: footer"></div>
</body>
</html>