<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head">

</head>

<body>

<div th:insert="fragments/head :: navhome"></div>

<div class="logincontainer">
    <form method="post" th:action="@{/checklogin}" th:object="${newUser}" >
        <div class="row">

            <label for="id">What Kind of user are you:</label>
            <select class="form-control" id="id" name="id" >
                <option th:each="user : ${users}" th:text="${user.getUserName}"
                        th:value="${user.getId}">
                </option>
            </select>

            <label for="password">Please enter password:</label>
            <input type="password" class="form-control" id="password" name="password" required>
            <div >

                    <button id="submitbnt-customer" type="submit" class="form-control btn btn-primary">Submit
                    </button>
            </div>

        </div>
    </form>
</div>

<div  id="new-customer">
    <a th:href="@{addCustomer}" class="btn btn-primary">New customer</a>
</div>

<!--<div  id="new-customer">-->
<!--    <a th:href="@{addCustomer}" class="btn btn-primary">New customer</a>-->
<!--</div>-->


<!--<div class="login-box">-->
<!--    <h2>Login</h2>-->
<!--    <form>-->
<!--        <div class="user-box">-->
<!--            <input type="text" name="" required="">-->
<!--            <label>Username</label>-->
<!--        </div>-->
<!--        <div class="user-box">-->
<!--            <input type="password" name="" required="">-->
<!--            <label>Password</label>-->
<!--        </div>-->
<!--        <a href="#">-->
<!--            <span></span>-->
<!--            <span></span>-->
<!--            <span></span>-->
<!--            <span></span>-->
<!--            Login-->
<!--        </a>-->
<!--    </form>-->
<!--</div>-->
<div th:insert="fragments/head :: footer"></div>
</body>
</html>