<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head">
</head>
<body>
<div th:insert="fragments/head :: navclient"></div>

<br>
<br>


<div class="table-wrapper-scroll-y my-custom-scrollbar">
  <div class="table-article">
    <table class="table">
      <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Type</th>
        <th scope="col">Title</th>
        <th scope="col">Amount</th>
        <th scope="col">Price</th>
        <th scope="col">Total Price</th>

      </tr>
      </thead>
      <tbody>

      </tbody>
    </table>
  </div>
</div>


</body>


</html>